.app-container {
    display: grid;
    /* 1 row for nav and 1 row for main in app.js */
    grid-template-rows: 1fr 1fr 4fr;
    grid-template-columns: 1fr;
    /* background-image: linear-gradient(to bottom right, red, yellow); */
    /* background: papayawhip; */
    background: #EEF4D4;
    
    height: 100%;
    background-size:100% 100%;
}

nav {
grid-row: 2;
}

#homeLink {
display: grid;
grid-template-rows: 1fr;
grid-template-columns: 2.8fr 0.3fr 1fr 1fr 1fr 1fr;
color: #D64550;
}


#homeLink-img {
    max-height: 3rem;
    grid-column: 2;
    
}

#homeLink-title {
    max-height: 3rem;
    grid-column: 3 / span 5
}

main {
    grid-row: 3;
}

#home-container{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-columns: 1fr 1.23fr 1fr 1fr;
}

#search-container {
    grid-row: 2;
    grid-column: 2 / span 4;
}

#gallery-container {
    grid-row: 4;
    /* grid-column: 2; */
    grid-column: 2 / span 4;
    max-height: 0em;
}

#searchBarEl {
    height: 40px;
    width: 501px;
    font-size: 16px;
    padding-left: 2px;
}

button {
    width: 64px;
    height: 46px;
    padding: 0;
    border: 2px solid #D64550;
    border-radius: 3px;
    background-color: whitesmoke;
    color: #D64550;
}